{% extends "base.html" %}
{% load static %}
{% block title %}
	4-Talents - Confirm Account
{% endblock title %}

{# Load menu#}
{% block navbar %}
	<nav class="navbar navbar-expand-lg nav_talents">
		<a href="{% url 'Home' %}">4-Talents</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarTalents" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"><i class="fas fa-bars"></i> </span>
		</button>
		<div class="collapse navbar-collapse" id="NavbarTalents">
			<div class="navbar-nav ml-auto">
				{% if std.status == 'INACTIVE' %}
					<a class="nav-link nav-item" href="{% url 'account:edit_account' request.user.username %}">Pérfil</a>
				{% endif %}
				<a href="#" class="nav-link nav-item">Ayuda</a>
				<a href="{% url 'account:sign_out' %}" class="nav-link nav-item">Cerrar Sesión</a>
			</div>
		</div>
	</nav>
{% endblock navbar %}

{% block content %}
	<div class="container-objects">
		<div class="container-column">
			<div class="col-01">
				<img src={% static 'img/checked.png' %} class='img-checked' />
			</div>
			<div class="col-02"> 
				<h2>Por favor confirma tu cuenta</h2><br/>
				<p>Tu cuenta a sido creada satisfactoriamente, ahora el
					siguiente paso es confirmar tu cuenta haciendo click aqui:
				</p>
                <form method="post">
                    <div class="container-link">
                        {% if std.token_usr %}
                            {% csrf_token %}
                            <button id="confirm_account" class="btn btn-success" type="button" onclick="ConfirmAccountUser('{{ std.token_usr }}');">Confirmar Cuenta</button>
                        {% endif %}
                    </div>
                </form>
			</div>
		</div>
	</div>

{% endblock content %}

{% block footer %}
	{% if std.token_usr != '' %}
		{% if request.path == '/confirm/verificate/'|add:std.token_usr %}
			{% include 'Components/complements.html' %}
		{% endif %}
	{% endif %}
{% endblock footer %}