{% extends "base.html" %}
{% load static %}

{% block title %}
	Update Account
{% endblock title %}

{% block navbar %}
	{% include 'Components/Nav.html' %}
{% endblock navbar %}

{% block content%}
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-4 mt-5">
				<div class="container-img-edit">
					{% for foo in usr_info %}
						{% if foo.p_profile != '' %}
							<img src="{{ foo.p_profile }}" class="img-responsive rounded-circle"  alt="profile picture - 4-talents" />
							{% else %}
							<img src="{% static 'img/profile_picture.png' %}" class="rounded-circle img-responsive" alt="profile picture - 4-talents">
						{% endif %}
					{% endfor %}
					{% for foo in usr_info %}
						{% if foo %}
							<a href="#" data-toggle="modal" onclick="ShowModal();">Cambiar foto</a>
						{% endif %}
					{% endfor %}

				</div>
				<div class="container-option-update mt-1">
					<div class="container-btn">
						<a href="#" class="btn-pass" data-toggle="modal" data-target="#UpdatePass">Actualizar contraseña</a>
						<button class="btn btn-delete-account col">eliminar cuenta</button>
					</div>
				</div>
			</div>
			<div class="col-md-8 mt-3">
				<div class="container-title-update mt-5">
					<h2>Actualizar Cuenta</h2>
				</div>
				<form method="post">
					<div class="form-row mt-3">
						<div class="form-group col-md-6">
							<label for="first_name">Nombres</label>
							{{ form.first_name }}
						</div>
						<div class="form-group col-md-6">
							<label for="last_name">Apellidos</label>
							{{ form.last_name }}
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="username">Username</label>
							{{ form.username }}
						</div>

						<div class="form-group col-md-6">
							<label for="username">Correo</label>
							{{ form.email }}
						</div>
					</div>
					<div class="form-row">
						<div class="col">
							<label for="origen">Departamento / Region</label>
                            <select class="form-control" id="id_departamento">
                                {% for dep in deps %}
									{% if dep != "" %}
                                    	<option value="{{ dep.id }}">{{ dep.location_name }}</option>
									{% endif %}
                                {% endfor %}
								{% for all in all_dep %}
									<option value="{{ all.id }}">{{ all.location_name }}</option>
								{% endfor %}
                            </select>
						</div>
					</div>
					<div class="form-row mt-5">
						<div class="form-group ml-auto">
							{% csrf_token %}
							{% for foo in usr_info %}
								{% if foo.token_usr != '' %}
									<button type="button" class="btn btn-success" onclick=UpdateAccount('{{ foo.token_usr }}');>Aceptar</button>
								{% endif %}
							{% endfor %}
							<a href="{% url 'account:manage' %}" class="btn btn-danger">Cancelar</a>
							{#<input type="button" class="btn btn-primary" value="Aceptar" />#}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	{# Load modal of update profile pic #}
	{% include 'Account/p_profile.html' %}

	{# Load modal of update pass #}
	{% include 'Account/UpdatePass.html' %}
{% endblock content %}

{% block footer %}
	{% include 'Components/complements.html'%}
{% endblock footer %}
