{% extends "base.html" %}
{% load static %}
{# title #}
{% block title %}
	Manage Account
{% endblock title %}

{% block navbar %}
	{% include 'Components/Nav.html' %}
{% endblock navbar %}

{% block content %}
	<div class="container">
		{% for a_s in info %}
			{% if a_s.userprofile.status  == "INACTIVE" %}
				{% include 'Account/VerifyAccount.html' %}
			{% endif %}
		{% endfor %}

		<div class="row justify-content-center">
			<div class="card container-card">
				{% for foo in inf %}
						{% if foo.p_profile != '' %}
							<img src="{{ foo.p_profile }}" class="rounded-circle img-responsive" width="100" height="100" alt="Profile Pic">
						{% else %}
							<img src="{% static 'img/profile_picture.png' %}" class="rounded-circle" width="100" height="100" alt="">
					{% endif %}
				{% endfor %}

				<div class="card-body">
					<p class="card-title text-center">
						{% for basic_info in inf %}
							{% if basic_info != '' %}
								{% if basic_info.user.first_name == '' and basic_info.user.last_name == '' %}
									Hola, {{ basic_info.user.username }}
									{% else %}
									Hola, {{ basic_info.user.first_name }} {{ basic_info.user.last_name }}
								{% endif %}
							{% endif %}
						{% endfor %}
					</p>
				</div>
				<div class="container-message-footer">
					<h3>Administra tu cuenta, aplica cambios, etc</h3>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="container-decorator-objects">
				<div class="col-title">
					<h2>Cuenta</h2>
				</div>
				<div class="col-line">
					<hr>
				</div>
			</div>
			<div class="container-option-account mt-5">
				<div class="col-01">
					<div class="container-option-security-title">
						<h2>Inicio de sesión y Seguridad</h2>
					</div>
					<div class="container-option-security">
						<ul>
							{% for foo in inf %}
								{% if foo != '' %}
									<li><a href="{% url 'account:edit_account' foo.token_usr %}">Actualizar cuenta</a></li>
								{% endif %}
							{% endfor %}

							<li><a href="#">Actualizar correo</a></li>
							<li><a href="#">Volver a inicio</a></li>
							<li><a href="#" class="delete-account">Eliminar cuenta</a></li>
						</ul>
					</div>
				</div>
				<div class="col-02">
					<div class="container-option-info-title">
						<h2>Información Personal</h2>
					</div>
					<div class="container-option-info">
						<ul>
							{% for foo in inf %}
								{% if foo != '' %}
									<li><a href="{% url 'professional:professional_profile' foo.token_usr %}">Editar pérfil profesional</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}