{% load static %}
<div class="modal fade" id="UpdateProfilePic" tabindex="-1" role="dialog" aria-labelledby="UpdateProfilePic" aria-hidden="true">
    <div class="modal-dialog">
	{% for foo in usr_info %}
        <form method="post" action="{% url 'account:update_pic' foo.token_usr %}" enctype="multipart/form-data">{% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Actualizar foto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-img-edit">
                        {% if foo.p_profile != '' %}
							<img src="{{foo.p_profile}}" id="imgShow" class="rounded-circle" width="100" height="100" alt="profile pic" />
							{% else %}
							<img src="{% static 'img/profile_picture.png' %}" id="imgShow" class="rounded-circle" width="100" height="100" alt="profile pic" />
						{% endif %}
                    </div>
                    <div class="container-file-btn">
                        <input type="file" id="imgLoad" name="img_save" class="form-control-file" />
                    </div>
                </div>
                <div class="modal-footer">
					<input type="submit" class="btn btn-success" value="Actualizar"/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
	{% endfor %}
    </div>
</div>
