{% load static %}
<div class="modal fade" id="UpdatePass" tabindex="-1" role="dialog" aria-labelledby="UpdatePass" aria-hidden="true">
    <div class="modal-dialog">
		{% for foo in usr_info %}
			{% if foo %}
				    <form  method="post">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Actualizar contraseña</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">x</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<input type="password" class="form-control" id="id_password" name="password1" placeholder="Contraseña"/>
								</div>
								<div class="form-group">
									<input type="password" class="form-control" id="id_password2" name="password2" placeholder="Repetir contraseña">
								</div>
							</div>
							<div class="modal-footer">
								{% csrf_token %}
								<input type="button"  class="btn btn-success" onclick="UpdatePass('{{ foo.token_usr }}')" value="Guardar" />
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
							</div>
						</div>
					</form>
			{% endif %}
		{% endfor %}
    </div>
</div>
