{% extends "base.html" %}
{% load  static %}
{#title#}
{% block title %}
	Home
{% endblock title %}

{% block navbar %}
	{% include 'Components/Nav.html' %}
{% endblock navbar %}

{% block content %}
	{% include 'Home/Components/Search.html'%}
	{% comment %} Categorias {% endcomment %}
	<section class="container mt-3"">
		<div class="container-title-professions">
			<h2>Filtra por profesión / Habilidades</h2>
		</div>

		<div class="row mt-5">
		{% if qs != ''%}
			{% for data in qs %}
				<div class="col-md-4 col-sm-12 col">
					<div class="card-profession">
						<div class="container-img mt-2">
							<img src="{{data.image_icon.url}}" alt="4-talents areas"/>
						</div>
						<div class="container-body">
							<h4>{{data.area_name}}</h4>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		</div>
	</section>

	{% comment %} Talents info {% endcomment %}
	<section class="container-fluid container-background-info mt-5">
		<div class="container">
			<div class="container-title-info-talents">
				<h2>4-Talents a lo grande</h2>
			</div>

			<div class="row mt-5">
				{% if qs_t != '' %}
					{% for it in qs_t %}
						<div class="col-md-4 col col-sm-12">
							<div class="card-profession">
								<div class="container-img mt-2">
									<img src="{{it.img_icon.url}}" alt="4-talents profiles" />
								</div>
								<div class="container-body profile-number">
									<h4>{{it.count}}</h4>
									<h5>{{it.info_data}}</h5>
								</div>
							</div>
						</div>
					{% endfor%}
				{% endif %}
				<div class="container-btn-profiles mt-5">
					<a href="#" class="btn btn-success load-profile">Ver Pérfiles</a>
				</div>
			</div>
		</div>
	</section>

	{% comment %} Talents get start it {% endcomment %}
	<section class="container-fluid container-background-get-started">
		<div class="container-title-get-started">
			<h2>Empieza Ahora</h2>
		</div>
		<div class="container-subtitle-started">
			<h3>Encuentra las mejores empresas y talentos</h3>
		</div>
		<div class="container">
			<div class="row">
				<div class="grid-container-started">
					<div class="col-01-started">
						<a href="{% url 'account:sign_up' %}">Crear cuenta</a>
					</div>
					<div class="col-02-started">
						<a href="#">Buscar</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block footer %}
	{% include "Components/footer.html" %}
{% endblock footer %}
