<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1" />
    <title>Alerta de Seguridad</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <style>
      .container-title {
        position: relative;
      }
      .container-title > h2 {
        text-align: left;
        font-size: 35px;
      }
      .container-body {
        width: fit-content;
      }
      .container-body > p {
        text-align: left;
        font-size: 20px;
      }
      .container-body > ul {
        width: fit-content;
      }
      hr {
        margin: 40px 20px;
      }
      .footer {
        width: fit-content;
        bottom: 0;
      }
      .footer > h3 {
        color: #111;
        text-align: center;
        font-size: 20px;
      }
      @media (min-width: 320px) {
        .container-title {
          width: 100%;
        }
        .container-title > h2 {
          font-size: 20px;
        }
        .container-body {
          width: 100%;
        }
        .container-body > p {
          font-size: 18px;
        }
        hr {
          margin: 40px 20px;
        }
        .footer {
          width: 100%;
        }
        .footer > h3 {
          text-align: center;
          font-size: 20px;
        }
      }
    </style>
  </head>
  <body>
    <main style="background-color: #fff">
      <div class="container-title">
        <h2>Alerta de Seguridad</h2>
      </div>
      <div class="container-body">
        <p>
          Hola <strong>{{username}}</strong>, ha ocurrido la siguiente actividad
          con tu cuenta
        </p>
        <ul>
          <li>Sistema operativo: <a href="#">{{os}}</a></li>
          <li>Navegador: <a href="#">{{client}}</a></li>
          <li>Dirección IP: <a href="#">{{origin}}</a></li>
          <li>País: <a href="#">{{country}}</a></li>
          <li>Time Zone: <a href="#">{{time_zone}}</a></li>
          <li>Dominio: <a href="#">{{domain}}</li>
        </ul>

        <p>
          Si reconoces esta actividad, puedes ignorar este correo, de lo
          contrario puedes cambia tu contraseña:
          <a href="http://{{domain}}/account/manage/">Actualizar contraseña</a>
        </p>
      </div>
      <hr />
      <div class="footer">
        <h3>
          4-Talents, <i class="fal fa-copyright"></i> Todos los derechos
          reservados 2021
        </h3>
      </div>
    </main>
  </body>
</html>
