<html lang='es'>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width-device-width, initial-scale=1">
		<title>4-Talents - Activar Cuenta</title>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<style>
			.container-title {
				width:auto;
				position:relative;
				margin-top:10%;
			}

			.container-title > h2 {
				text-align:center;
				font-size:30px;
			}

			.container-body {
				position:relative;
				width: 70%;
				margin: 0 auto;
				margin-top: 10%;
			}

			.container-link {
				position:relative;
				width:300px;
				margin: 0 auto;
				text-align:center;
			}

			.container-link > a {
				background-color: #4CAF50;
				border: none;
				color: #fff;
				padding: 15px 20px;
				text-decoration: none;
				display: inline-block;
				font-size: 20px;
				margin: 4px 2px;
				cursor: pointer;
			}

			@media(min-width:320px) {
				main {
					height:100vh;
				}
				.container-title {
					width:100%;
				}
				.container-title > h2 {
					font-size:20px;
				}
				.container-body {
					width:100%;
				}
				.container-body > p {
					font-size:18px;
				}
				.container-link {
					margin-top: 10%;
				}
				hr {
					margin:40px 20px;
				}
				.footer {
					position:absolute;
					width:90%;
					bottom:0;
				}
				.footer > h3 {
					color:#111;
					text-align:center;
					font-size: 20px;
				}

			}
		</style>
		
	</head>
	<body style="background-color: #fff; height: 100vh;">
		<main>
			<div class="container-title">
				<h2 style="color: #111; font-size:35px;">Bievenido a 4-Talents</h2>
			</div>
			<div class="container-body">
				<p style="text-align: center; font-size: 30px; color: #111">Tu cuenta ha sido creada satisfactoriamente, ahora el
					siguiente paso es activar la cuenta haciendo click en el siguiente enlace:
				</p>
			</div>
			<div class="container-link">
				<a
					href="http://{{domain}}/confirm/verificate/{{token}}">Verificar
				Cuenta</a>
			</div>
			<hr/>
			<div class='footer'>
				<h3>© 4-Talents, Todos los derechos reservados 2021</h3>
			</div>
		</main>
	</body>
</html>
