.nav_talents {
    background-color: #F8F8F8;
}

.nav_talents a {
    font-weight: 300;
    font-size: 30px;
}

.nav_talents .navbar-nav a {
    color: #111;
    font-size: 20px;
    font-weight: 300;
}

.navbar-toggler-icon {
    border: none;
}

/* Options */
.container-options {;
    padding: 10px;
}

/*media query*/
@media (max-width: 768px) {
    .container-options {
        padding: 0;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 1000px) {

}
