.container-scrolling {
    overflow-y: scroll;
    height: 100%;
}
.container-img-professional {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 0 auto;
}
.container-img-professional > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1.5px solid #0091FF;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-btn-option-img {
    width: 100%;
    height: 45px;
    max-height: 50px;
    text-align: center;
}
.container-btn-option-img > a {
    border: 1px solid #0091FF;
    border-radius: 7px;
    font-family: "Roboto","regular", sans-serif;
    color: #0091FF;
    font-size: 15px;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.container-professions-title {
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.col-01-title {
    width: fit-content;
}
.col-01-title > h2 {
    font-family: "Roboto", "regular", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #a9a9a9;
}
.col-01-title-line > hr {
    border: 1px solid #a9a9a9;
}
.container-form-professional-info {
    width: 96%;
    max-width: 97%;
    margin: 0 auto;
}


.container-driver-info {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    padding-right: 5px;
    padding-left: 5px;
}

.col-drive-01 {
    width: 100%;
    margin: 0.5%;
}

.col-drive-02 {
    width: 100%;
}

.col-drive-03 {
    width: 100%;
}

 /* Estudios realizados */
 .container-professions-studies {
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.container-professions-studies .col-01-title > h2 {
    font-family: "Roboto", "regular", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #a9a9a9;
}

/* Multi steps form */
.multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0,1fr));
}

@media (max-width: 500px) {
    .multisteps-form__progress {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1,1fr)) !important;
    }
    .multisteps-form__progress-btn {
      text-indent: 0;
    }
}

.multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding: 20px 5px;
    color: #0091FF;
    text-indent: 0px;
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
}

.multisteps-form__progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: '';
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 3;
}
.multisteps-form__progress-btn:after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: currentColor;
    z-index: 1;
}

.multisteps-form__progress-btn:first-child:after {
    display: none;
}

.multisteps-form__progress-btn.js-active {
    color: #007bff;
}

.multisteps-form__progress-btn.js-active:before {
    -webkit-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
    background-color: currentColor;
}

.multisteps-form__form {
    position: relative;
}

.multisteps-form__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.multisteps-form__panel.js-active {
    height: auto;
    opacity: 1;
    visibility: visible;
}

.multisteps-form__panel[data-animation="scaleOut"] {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.multisteps-form__panel[data-animation="scaleOut"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
            transform: scale(1);
}

/* Media query */
@media(max-width: 1310px) {
    #desktop_steps {
        font-size: 0;
    }
}