{% load static %}
<div class="modal fade" id="AddExperiences" tabindex="-1" role="dialog" aria-labelledby="AddExperiences" aria-hidden="true">
    <div class="modal-dialog">
		<form  method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Experiencias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Nombre de la Empresa"/>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Puesto Desempeñado"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="inicio">Inicio</label>
                            <input type="date" id="inicio" class="form-control"/>
                        </div>
                        <div class="col-md-6">
                            <label for="fin">Fin</label>
                            <input type="date" id="fin" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <input type="button"  class="btn btn-success" onclick="AddExperiences('{{ foo.token_usr }}')" value="Guardar" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
