{% load static %}
<div class="modal fade" id="AddJobRef" tabindex="-1" role="dialog" aria-labelledby="AddJobRef" aria-hidden="true">
    <div class="modal-dialog">
		<form  method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Referencias Laborales</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="names">Nombres y apellidos</label>
                            <input type="text" id="names" class="form-control" placeholder="Nombre y Apellidos"/>
                        </div>
                        <div class="col-md-6">
                            <label for="role">Puesto</label>
                            <input type="text" class="form-control" id="role" placeholder="Puesto"/>
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="col-md-6">
                            <label for="company">Empresa</label>
                            <input type="text" class="form-control" id="company" placeholder="Nombre de la Empresa"/>
                        </div>
                        <div class="col-md-6">
                            <label for="email">Correo</label>
                            <input type="email" class="form-control" id="email" placeholder="Correo corporativo"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="tel1">Movil</label>
                            <input type="text" id="tel1" class="form-control" placeholder="Movil"/>
                        </div>
                        <div class="col-md-6">
                            <label for="tel2">Movil</label>
                            <input type="text" id="tel2" class="form-control" placeholder="Movil"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <input type="button"  class="btn btn-success" onclick="AddExperiences('{{ foo.token_usr }}')" value="Guardar" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
