{% load static %}
<div class="modal fade" id="AddStudies" tabindex="-1" role="dialog" aria-labelledby="AddStudies" aria-hidden="true">
    <div class="modal-dialog">
		<form  method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Estudios</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <select class="form-control">
                                <option>Seleccionar Especialidad</option>
                                <option value="Postgrado">Postgrado</option>
                                <option value="Maestria">Maestria</option>
                                <option value="Doctorado">Doctorado</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Universidad"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="inicio">Inicio</label>
                            <input type="date" id="inicio" class="form-control"/>
                        </div>
                        <div class="col-md-6">
                            <label for="fin">Fin</label>
                            <input type="date" id="fin" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <input type="button"  class="btn btn-success" onclick="AddStudies('{{ foo.token_usr }}')" value="Guardar" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
