{% load static %}
<div class="modal fade" id="AddSkills" tabindex="-1" role="dialog" aria-labelledby="AddSkills" aria-hidden="true">
    <div class="modal-dialog">
		<form  method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Habilidades</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="course_1">Cursos</label>
                            <input type="text" id="course_1" class="form-control" placeholder="Cursos"/>
                        </div>
                        <div class="col-md-6">
                            <label for="course_2">Otro</label>
                            <input type="text" id="course_2" class="form-control" placeholder="Otro"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <input type="button"  class="btn btn-success" onclick="AddExperiences('{{ foo.token_usr }}')" value="Guardar" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
