<section class="container-fluid container-background">
    <div class="col-md col-sm col">
        <div class="banner-title">
            <h3>La mejor vía de encontrar a los mejores talentos</h3>
        </div>
    </div>
    <div class="col col-md col-sm">
        <div id="search">
            <input name="finder"  type="search" placeholder="Finanzas, Industrial, Redes, etc."/>
            <svg viewbox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                <path d="M0 0h24v24H0z" fill="none">
            </svg>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="grid-container">
                <div class="col-opt-01">
                    <a href="{% url 'account:sign_up' %}">Crear pérfil</a>
                </div>

                <div class="col-opt-02">
                    <a href="#">Empleos</a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="container-options-click">
        
    </div> {% endcomment %}
</section>