{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">
	<title>4-Talents - {% block title %} {% endblock title %}</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/SignIn.css' %}">
	<link rel="stylesheet" href="{% static 'css/SignUp.css' %}">
	<link rel="stylesheet" href="{% static 'css/Nav.css' %}">
	<link rel="stylesheet" href="{% static 'css/Manage.css' %}">
	<link rel="stylesheet" href="{% static 'lib/noty.css' %}">
	<link rel="stylesheet" href="{% static 'lib/themes/mint.css' %}">
	<link rel="stylesheet" href="{% static 'css/confirm_account.css' %}">
	<link rel="stylesheet" href="{% static 'css/Profession.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
	{% if request.path == '/' %}
		<link rel="stylesheet" href="{% static 'css/Home.css'%}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css">
	{% endif %}
</head>
<body>
<main>
	{% block navbar %}

	{% endblock navbar %}
	{# Main content #}
	{% block content %}

	{% endblock content %}
</main>
{% block footer %}

{% endblock footer %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/p_profile.js' %}"></script>
<script src="{% static 'lib/noty.js' %}"></script>
{% if request.path == '/account/sign_in/' %}
	<script src="{% static 'js/SignIn/SignIn.js' %}" type="text/javascript"></script>
{% endif %}
{% if request.path == '/account/sign_up/' %}
	<script src="{% static 'js/SignUp/SignUp.js' %}" type="text/javascript"></script>
{% endif %}
</body>
</html>
