{% extends "base.html" %}
{% load  static %}

{#Define title#}
{% block title %}
    Create Professional Profile
{% endblock title %}

{#Include navbar#}
{% block navbar %}
    {% include 'Components/Nav.html' %}
{% endblock navbar %}

{% block content %}
    <section class="container-fluid">
        <div class="container-objects-professionals mt-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="container-img-professional mt-3">
                        {% if info != "" %}
                            {% for usr_data in info %}
                                <img src="{{usr_data.p_profile}}" class="rounded-circle img-responsive" alt="profile picture - 4-talents"/>
                                <h2 style="text-align: center;">{{usr_data.user.first_name}} {{usr_data.user.last_name}}</h2>
                            {% endfor %}
                        {% else %}
                            <img src="{% static 'img/profile_picture.png' %}" class="rounded-circle">
                        {% endif %}
                    </div>
                </div>

                <!-- right block content form professional users -->
                <div class="col-md-8">
                    <div class="container overflow-hidden">
                        <div class="multisteps-form">
                            <div class="row">
                                <div class="col col-md col-lg col-sm ml-auto mr-auto mb-4" id="desktop_steps">
                                    <div class="multisteps-form__progress mt-1">
                                        <button class="multisteps-form__progress-btn js-active" type="button" title="Cuenta">Información</button>
                                        <button class="multisteps-form__progress-btn" type="button" title="Redes Sociales">Redes Sociales</button>
                                        <button class="multisteps-form__progress-btn" type="button" title="Estudios">Estudios</button>
                                        <button class="multisteps-form__progress-btn" type="button" title="Experiencias Laborales">Experiencias Laborales</button>
                                        <button class="multisteps-form__progress-btn" type="button" title="Referencias Laborales">Referencias Laborales</button>
                                        <button class="multisteps-form__progress-btn" type="button" title="Referencias Personales">Referencias Personales</button>
                                        <button class="multisteps-form__progress-btn" type="button" title="Referencias Personales">Habilidades</button>
                                        <button class="multisteps-form__progress-btn" type="button" title="Bio">Bio</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md col-lg m-auto">
                                    <form class="multisteps-form__form">
                                        {% csrf_token %}
                                        <div class="multisteps-form__panel rounded bg-white js-active" data-animation="scaleOut">
                                            <h3 class="multisteps-form__title">Información</h3>
                                            <div class="multisteps-form__content">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="id_correo">Cédula</label>
                                                        {{ p_info.ced }}
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="id_address">Direccion Actual</label>
                                                        {{ p_info.address }}
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <label for="id_telefono">Télefono</label>
                                                        {{ p_info.tel }}
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="id_movil">Móvil</label>
                                                        {{ p_info.mobile }}
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="id_otros">Otros</label>
                                                        {{ p_info.other }}
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-driver-info">
                                                        <div class="col-drive-02">
                                                            <label for="id_lic">Licencia</label>
                                                            <div class="form-check">
                                                                {{p_info.lic}}
                                                            </div>
                                                        </div>
                                                        <div class="col-drive-03"> 
                                                            <label for="">Categorías</label>
                                                            {{p_info.cat}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button-row d-flex mt-4">
                                                {% if info != "" %}
                                                    {% for usr_data in info %}
                                                        <button type="button" class="btn btn-success ml-auto js-btn-next" onclick=CreateProf('{{usr_data.token_usr}}') id="siguiente" title="Siguiente">Siguiente</button>
                                                    {%endfor%}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <!-- Second form -->
                                        <div class="multisteps-form__panel rounded bg-white" data-animation="scaleOut">
                                            <h3 class="multisteps-form__title">Redes Sociales</h3>
                                            <div class="multisteps-form__content">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="">LinkedIn</label>
                                                        {{sl.linkedin}}
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="">Twitter</label>
                                                        {{sl.twitter}}
                                                    </div>
                                                </div>
                                                <div class="form-row mt-2">
                                                    <div class="form-group col-md-6">
                                                        <label for="">Facebook</label>
                                                        {{sl.facebook}}
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="">Instagram</label>
                                                        {{sl.instagram}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button-row d-flex mt-4">
                                                {% if info != "" %}
                                                    {% for usr_data in info %}
                                                        <button type="button" class="btn btn-success ml-auto js-btn-next" onclick=SocialLinks('{{usr_data.token_usr}}') id="siguiente_sn" title="Siguiente">Siguiente</button>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <!-- Third form -->
                                        <div class="multisteps-form__panel rounded bg-white" data-animation="scaleOut">
                                            <h3 class="multisteps-form__title">Estudios</h3>
                                            <div class="multisteps-form__content">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="">Universidad</label>
                                                        {{bs.college_name}}
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="">Profesión</label>
                                                        {{bs.profession_name}}
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="">Inicio</label>
                                                        {{bs.college_start}}
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="">Fin</label>
                                                        {{bs.college_end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row mt-4">
                                                <div class="form-group ml-auto">
                                                    {% if info != ""%}
                                                        {% for usr_data in info %}
                                                            <a href="#" data-toggle="modal" data-target="#AddStudies" type="button" class="btn btn-primary ml-auto" title="Agregar">+</a>
                                                            <button type="button" class="btn btn-success ml-auto js-btn-next" id="siguiente_study" onclick=Studies('{{usr_data.token_usr}}') title="Siguiente">Siguiente</button>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- four form -->
                                        <div class="multisteps-form__panel rounded bg-white" data-animation="scaleOut">
                                            <h3 class="multisteps-form__title">Experiencias Laborales</h3>
                                            <div class="multisteps-form__content">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="">Empresa</label>
                                                        {{ej.cp_name}}
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="">Puesto</label>
                                                        {{ej.cp_position}}
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="">Inicio</label>
                                                        {{ej.cp_start_in}}
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="">Fin</label>
                                                        {{ej.cp_end_in}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row mt-4">
                                                <div class="form-group ml-auto">
                                                    {% if info != ""%}
                                                        {% for usr_data in info %}
                                                            <a href="#" data-toggle="modal" data-target="#AddExperiences" type="button" class="btn btn-primary ml-auto" title="Agregar">+</a>
                                                            <button type="button" class="btn btn-success ml-auto js-btn-next" onclick=Experiences('{{usr_data.token_usr}}') id="profe_exp" title="Siguiente">Siguiente</button>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Five form -->
                                        <div class="multisteps-form__panel  rounded bg-white" data-animation="scaleOut">
                                            <h3 class="multisteps-form__title">Referencias Laborales</h3>
                                            <div class="multisteps-form__content">
                                                <div class="form-row">
                                                    <div class="col-md-12">
                                                        <label for="id_ref_name">Nombres y Apellidos</label>
                                                        {{prof_r.ref_name}}
                                                    </div>
                                                </div>
                                                <div class="form-row mt-1">
                                                    <div class="form-group col-md-6">
                                                        <label for="id_mobile_ref">Móvil</label>
                                                        {{prof_r.ref_tel}}
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="id_other_ref">Otro</label>
                                                        {{prof_r.other_ref}}
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-12">
                                                        <label for="id_ref_email">Correo</label>
                                                        {{prof_r.ref_email}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row mt-4">
                                                <div class="form-group ml-auto">
                                                    {% if info != ""%}
                                                        {% for usr_data in info %}
                                                            <a href="#" data-toggle="modal" data-target="#AddJobRef" type="button" class="btn btn-primary ml-auto" title="Agregar">+</a>
                                                            <button type="button" class="btn btn-success ml-auto js-btn-next" onclick=ProfessionalReferences('{{usr_data.token_usr}}') id="prof_references" title="Siguiente">Siguiente</button>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="multisteps-form__panel rounded bg-white" data-animation="scakeOut">
                                            <h3 class="multisteps-form__title">Referencias Personales</h3>
                                            <div class="multisteps-form__content">
                                                <div class="form-row">
                                                    <div class="col-md-12">
                                                        <label for="id_full_name_ref">Nombres y Apellidos</label>
                                                        {{pr.full_name_per_ref}}
                                                    </div>
                                                </div>
                                                <div class="form-row mt-1">
                                                    <div class="form-group col-md-6">
                                                        <label for="id_mobile_ref">Móvil</label>
                                                        {{pr.mobile_per_ref}}
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="id_other_ref">Otro</label>
                                                        {{pr.other_per_ref}}
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-12">
                                                        <label for="id_email_ref">Correo</label>
                                                        {{pr.email_per_ref}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row mt-4">
                                                <div class="form-group ml-auto">
                                                    {% if info != "" %}
                                                        {% for usr_data in info %}
                                                            <a href="#" data-toggle="modal" data-target="#AddPerRef" type="button" class="btn btn-primary ml-auto" title="Agregar">+</a>
                                                            <button type="button" class="btn btn-success ml-auto js-btn-next" id="personal_ref_btn" onclick=PersonalReferences('{{usr_data.token_usr}}') title="Siguiente">Siguiente</button>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Seven form -->
                                        <div class="multisteps-form__panel rounded bg-white" data-animation="scaleOut">
                                            <h3 class="multisteps-form__title">Habilidades</h3>
                                            <div class="multisteps-form__content">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="">Idiomas</label>
                                                        {{sk.language}}
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="">Otros</label>
                                                        {{sk.other}}
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="">Cursos</label>
                                                        {{sk.course_1}}
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="">Otros Cursos</label>
                                                        {{sk.other_course}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row mt-4">
                                                <div class="form-group ml-auto">
                                                    {% if info != "" %}
                                                        {% for usr_data in info %}
                                                            <a href="#" data-toggle="modal" data-target="#AddSkills" type="button" class="btn btn-primary ml-auto" title="Agregar">+</a>
                                                            <button type="button" class="btn btn-success ml-auto js-btn-next" id="skills" onclick=CreateSkills('{{usr_data.token_usr}}') title="Siguiente">Siguiente</button>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="multisteps-form__panel rounded bg-white" data-animation="scaleOut">
                                            <h3 class="multisteps-form__title">Sobre mi</h3>
                                            <div class="multisteps-form__content">
                                                <div class="form-row">
                                                    <div class="col-md-12">
                                                        <label for="id_bio_me">Bío</label>
                                                        {{am.bio_me}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button-row d-flex mt-4">
                                                <button type="button" class="btn btn-success ml-auto js-btn-next" id="complete" title="Finalizar">Finalizar</button>
                                            </div>
                                        </div>
                                        <!-- <div class="button-row d-flex mt-4">                                
                                            <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                                            <button type="button" class="btn btn-success ml-auto js-btn-next" title="Siguiente">Siguiente</button>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    {% if info != "" %}
        {% for data_info in info %}
            {% with "/create/professional_profile/edit/" as addres_link %}
                {% with addres_link|add:data_info.token_usr  as complete_link %}
                    {% if request.path == complete_link %}                    
                        <!-- Load modal studies -->
                        {% include "ProfessionalProfiles/Components/ModalStudies.html"%}
                        {% include "ProfessionalProfiles/Components/ExperiencesModal.html"%}
                        {% include "ProfessionalProfiles/Components/LaboralReferences.html"%}
                        {% include "ProfessionalProfiles/Components/PersonalReferences.html"%}
                        {% include "ProfessionalProfiles/Components/Skills.html"%}
                        <script src="{% static 'js/professional/createP.js'%}"></script>
                        <script src="{% static 'js/professional/MultiStep.js'%}" type="text/javascript"></script>
                    {% endif %}
                {% endwith %}
            {% endwith %}
        {% endfor %}
    {% endif %}
{% endblock content %}