html, body {
    font-family: "Roboto", sans-serif;
    --4-talents-top: 100%;
    --4-talents-width: 100%;
    --4-talents-height: 100%;
    --4-talents-bottom: 100%;
}

main {;
    width: 100%;
    background: #fff;
}

.container-title {
    width: auto;
}
.container-title h2 {
    font-family: "Roboto", "regular", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.signin-height {
    height: 100vh;
}
