.container-objects {
    width: 50%;
    position: relative;
    top: calc(var(--4-talents-top) / 4);
    margin: 0 auto;
}
.container-column { 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.container-column .col-01 {
    width: 210px;
}

.col-01 > .img-checked { 
    width: 200px;
}

.container-column .col-02 {
    width: auto;
}

.col-02 > h2 { 
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.col-02 > p {
    font-size: 20px;
    text-align: center;
}

.col-02 .container-link { 
    width:190px;
    margin: 0 auto;
    text-align: center;
}

.container-link > a { 
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}
