footer > .container-fluid {
    height: 300px;
    background: #111;
}

footer > .container-fluid > .container > .container-logo {
    width: fit-content;
}

.container-logo > a {
    font-family: "Roboto","regular",sans-serif;
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.footer-settings {
    margin: 0 auto;
}

.footer-settings > h2 {
    color: rgb(85, 207, 122);
    font-size: 20px;
    font-weight: 300;
    font-family: "Roboto","regular", sans-serif;
}

.footer-settings > ul {
    padding: 0;
    list-style: none;
}

.footer-settings > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.footer-settings > .sociales {
    display: inline-flex;
    padding: 0;
}

.sociales li {
    margin: 0 10px;
}

@media (min-width: 320px) {
    footer > .container-fluid {
        height: 650px !important;
    }   
}

@media (min-width: 575px) {
    footer > .container-fluid {
        height: 440px !important;
    }
}

@media (min-width: 768px) {
    footer > .container-fluid {
        height: 300px !important;
    }
}

@media (min-width: 900px) {
    footer > .container-fluid {
        height: 350px !important;
    }
}

@media (min-width: 1024px) {
    footer > .container-fluid {
        height: 300px !important;
    }
}