.container-fluid {
    padding-left: 0;
    padding-right: 0;
    background: url("../img/Portrait.d283ce60880a.png") no-repeat;
    background-size: cover;
    height: 60%;
    max-height: 61%;
}
.container-fluid .banner-title {
    padding-top: 10px;
}

.banner-title > h3 {
    font-family: "Roboto", "regular", sans-serif;
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
}

.container-finder {
    margin:  0 auto;
    padding-top: 10px;
}

.container-finder > form {
    margin: 0 auto;
}

form > .search-form {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form > .btn-search {
    width: auto;
    border: 1px solid #fff;
    padding: 12px 20px;
    background-color: #0091FF;
    color: #FFFFFF;
}

/*Options*/
.container-options-click {
    width: 30%;
    margin:  0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-options-click .col-opt-01 {
    margin: 10px;
    padding: 12px 32px;
}

.container-options-click .col-opt-02 {
    margin: 10px;
    padding: 12px 32px;
}

.col-opt-01 .create-account {
    background-color: #0091FF;
    color: #FFFFFF;
    padding: 12px 8px;
}

.col-opt-02 .browser-job {
    background-color: #0091FF;
    color: #FFFFFF;
    padding: 12px 8px;
}

/*Filter position*/
.container .container-title-professions {
    width: 40%;
    margin: 0 auto;
}

.container-title-professions > h2 {
    color: #0091FF;
    font-size: 30px;
    font-family: "Roboto", "regular", sans-serif;
    font-weight: 300;
}

.card-profession {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.card-profession:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-img {
    width: 200px;
    margin:  0 auto;
}

.container-img > img {
    width: 100%;
}

.container-body {
    padding: 10px;
    margin:  0 auto;
}

.container-body > h4 {
    font-size: 25px;
    color: #111;
    font-weight: 400;
    text-align: center;
}

.container-body > ul > li {
    font-size: 20px;
    color: #111;
    font-weight: 300;
    list-style: none;
    text-align: center;
}

/*Media Query*/
@media (max-width: 768px) {
    .container-fluid {
        height: 20%;
    }
    .banner-title {
        padding: 1%;
    }
    .container-finder {
        padding-top: 10px;
    }
    form > .btn-search {
        width: auto;
    }
    .container-options-click {
        width: 94%;
        padding: 20px;
    }
    .container-options-click .col-opt-01 {
        margin: 0 auto;
        padding: 0 !important;
    }
    .container-options-click .col-opt-02 {
        margin: 0 auto;
        padding: 0 !important;
    }
    .container .container-title-professions {
        width: 100%;
        margin:  0 auto;
    }
    .container-title-professions > h2 {
        font-size: 25px;
        text-align: center;
    }
}

@media (min-width: 1000px) {
    .container-fluid {
        height: auto;
    }
    .container-fluid .banner-title {
        width: 30%;
        padding: 15px;
        margin:  0 auto;
    }
    .container-finder {
        width: 40%;
        max-width: 50%;
        margin: 0 auto;
    }
    .container-finder > form {
        padding-left: 50px;
    }

}
