.container-background {
    padding-left: 0;
    padding-right: 0;
    background: url("../img/Portrait.png") no-repeat;
    background-size: cover;
    height: 60%;
    max-height: 61%;
    padding: 30px 10px 30px;
}
.container-fluid .banner-title {
    width: fit-content;
    margin: 0 auto
    ;
    padding-top: 10px;
}

.banner-title > h3 {
    font-family: "Roboto", "regular", sans-serif;
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
}

/*Options*/
.grid-container {
    width: 350px;
    height: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 1em;
}

.grid-container .col-opt-01 {
    width: 100%;
    text-align: center;
}

.col-opt-01 > a {
    border: none;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "roboto", "regular", sans-serif;
    padding: 10px 32px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #0091FF;
    font-weight: 300;
}

.grid-container .col-opt-02 {
    width: 100%;
    text-align: center;
}

.col-opt-02 > a {
    border: none;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "roboto", "regular", sans-serif;
    padding: 10px 32px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #0091FF;
    font-weight: 300;
}

/*Filter position*/
.container .container-title-professions {
    width: fit-content;
    margin: 0 auto;
}

.container-title-professions > h2 {
    color: #0091FF;
    font-size: 30px;
    font-family: "Roboto", "regular", sans-serif;
    font-weight: 300;
}

.card-profession {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
}

.card-profession:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-img {
    width: 200px;
    margin:  0 auto;
}

.container-img > img {
    width: 100%;
}

.container-body {
    padding: 10px;
    margin:  0 auto;
}

.container-body > h4 {
    font-size: 18px;
    color: #111;
    font-weight: 400;
    text-align: center;
}

.container-body > ul {
    padding: 0;
}

.container-body > ul > li {
    font-size: 18px;
    color: #111;
    font-weight: 300;
    list-style-type: none;
    text-align: center;
}

/* style talents info section */
.container > .container-title-info-talents {
    width: fit-content;
    margin: 0 auto;
}

.container-background-info {
    padding: 5%;
    background-color: #f2f6f9;
}

.container-title-info-talents > h2 {
    text-align: center;
    color: #0091FF;
    font-size: 30px;
    font-family: "Roboto", "regular", sans-serif;
    font-weight: 300;
    padding-top: 10%;
}

.profile-number > h4 {
    color: #0091FF;
    font-size: 30px;
    font-family: "Roboto", "regular", sans-serif;
    font-weight: 300;
    text-align: center;
}

.profile-number > h5 {
    font-size: 20px;
    color: #111;
    font-family: "Roboto", "regular", sans-serif;
    font-weight: 400;
    text-align: center;
}

.container-btn-profiles {
    width: fit-content;
    margin: 0 auto;
}

.container-btn-profiles > .load-profile {
    width: 100%;
    font-family: "Roboto", "regular", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-weight: 300;
    background: #55CF7A;
    border: none;
    text-align: center;
    padding: 10px 20px;
}

/* finder */
div#search * {
    font-family: "roboto", "regular", sans-serif;
}

div#search {
    width: 100%;
    display: flex;
    max-width: 600px;
    padding: 15px 10px;
    height: 80px;
    margin: 0 auto;
}

div#search input {
    min-width: 90px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    flex: 1;
    font-size: 16px;
    font-weight: 200;
    margin: 0;
    padding: 12px 20px;
    border-right: none;
}

div#search svg {
    background-color: #0091FF;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    fill: white;
    height: 45px;
    min-width: 45px;
    padding: 0 7px;
    width: 45px;
}

div#search svg:hover {
    background-color: #1d6823;
    fill: #fff;
}

.container-background-get-started {
    height: 250px !important;
    background-color: rgb(85, 207, 122);
}

.container-background-get-started .container-title-get-started {
    margin: 0 auto;
}

.container-title-get-started {
    width: fit-content;
    padding: 1%;
}

.container-title-get-started > h2 {
    text-align: center;
    font-family: "Roboto", "regular", sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 30px;
}
.container-background-get-started .container-subtitle-started {
    margin: 0 auto;
}

.container-subtitle-started {
    width: fit-content;
    padding: 1%;
}

.container-subtitle-started > h3 {
    text-align: center;
    font-family: "Roboto","regular", sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.grid-container-started {
    width: 45%;
    height: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 1em;
    padding-top: 3%;
}

.grid-container-started .col-01-started {
    width: 100%;
    text-align: center;
}

.col-01-started > a {
    width: 100%;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Roboto","regular", sans-serif;
    padding: 7px 0;
    font-weight: 300;
    border: 1px solid #fff;
    border-radius: 7px;
}

.grid-container-started .col-02-started {
    width: 100%;
    text-align: center;
}

.col-02-started > a {
    width: 100%;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Roboto","regular", sans-serif;
    padding: 7px 0;
    font-weight: 300;
    border: 1px solid #fff;
    border-radius: 7px;
}

/*Media Query*/
@media (min-width: 320px) {

    .col-opt-01 > a {
        padding: 7px 10px;
        font-size: 15px;
    }

    .col-opt-02 > a {
        padding: 7px 10px;
        font-size: 15px;
    }

    .container .container-title-professions {
        width: fit-content;
        margin: 0 auto;
    }
    
    div#search input[type=text] {
        border-radius: 0 2px 2px 0;
    }

    .grid-container-started {
        width: fit-content;
        padding-top: 3%;
    }

    .container-title-get-started {
        padding-top: 7%;
    }
}

@media (max-width: 768px) {

    .container-fluid {
        height: 20%;
    }

    .banner-title {
        padding: 1%;
    }

    .container-options-click {
        width: 94%;
        padding: 20px;
    }

    .container-options-click .col-opt-01 {
        margin: 0 auto;
        padding: 0 !important;
    }

    .container-options-click .col-opt-02 {
        margin: 0 auto;
        padding: 0 !important;
    }

    .container .container-title-professions {
        width: fit-content;
        margin:  0 auto;
    }

    .container-title-professions > h2 {
        font-size: 25px;
        text-align: center;
    }

    .container-title-get-started {
        padding-top: 5%;
    }
}

@media (min-width: 900px) {

    .container-fluid .banner-title {
        width: fit-content;
        padding: 15px;
        margin:  0 auto;
    }

    .grid-container-started {
        width: 70%;
        padding-top: 0;
    }

    .grid-container-started .col-01-started {
        width: 60%;
        margin: 0 auto;
    }

    .grid-container-started .col-02-started {
        width: 60%;
        margin: 0 auto;
    }

    .container-title-get-started {
        padding-top: 4%;
    }
}

@media (min-width: 1024px) {
    .container-background-get-started {
        height: 275px !important;
    }

    footer > .container-fluid {
        height: 300px !important;
    }
}