.container-card {
    width: 77%;
    margin-top: 5rem;
}
.card {
    border: none !important;
}

.card img {
    margin: 0 auto;
}

.card-body {
    padding: 0 !important;
}

.card-title {
    font-size: 20px;
    font-weight: 400;
    color: #6D7278;
}

.container-message-footer {
    margin: 0 auto;
}

.container-message-footer h3 {
    font-size: 30px;
    font-weight: 500;
}

.container-decorator-objects {
    width: 90%;
    max-width: 95%;
    display: grid;
    grid-template-columns: 0fr 2fr;
    margin:  0 auto;
}

.col-title {
    width: 100%;
}

.col-line {
    width: 90%;
    margin: 0.5%;
}

.col-line hr {
    border: 1px solid darkgray;
}

.container-option-account {
    width: 90%;
    max-width: 95%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin:  0 auto;
}

.col-01 {
    width: 80%;
    margin: 0;
}

.col-01 .container-option-security-title {
    width: auto;
    margin:  0 auto;
}

.container-option-security-title h2 {
    text-align: left;
    font-size: 25px;
    font-family: "Roboto", regular;
    font-weight: normal;
}

.col-01 .container-option-security {
    width: auto;
    margin: 0 auto;
}

.container-option-security ul {
    list-style: none;
    text-decoration: none;
    padding: inherit;
}

.container-option-security ul a {
    text-decoration: none;
    font-size: 15px;
    color: #0091FF;
    text-align: left;
}

.container-option-security .delete-account {
    color: #E02020;
}

.col-02 {
    margin: 0 1%;
}

.col-02 .container-option-info-title h2 {
    text-align: left;
    font-size: 25px;
    font-family: "Roboto", regular;
    font-weight: normal;
}

.container-option-info ul {
    list-style: none;
    text-decoration: none;
    padding: inherit;
}

.container-option-info ul a {
    text-decoration: none;
    font-size: 15px;
    color: #0091FF;
}

/*Update info*/
.container-img-edit {
    width: 170px;
    max-width: 175px;
    margin:  0 auto;
    text-align: center;
}

.container-img-edit img {
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 1px solid rgb(216,29,34);
}

.container-img-edit a {
    text-decoration: none;
    font-size: 15px;
    color: #0091FF;
}

.container-img-edit a:hover {
    text-decoration: none;
    color: #0091FF;
}

.container-option-update {
    width: 100%;
    margin: 0 auto;
}

.container-option-update .container-btn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container-option-update .btn-pass {
    color: #0091FF;
    font-size: 15px;
    border-radius: 8px;
    text-align: center;
}

.btn-pass:hover {
    color: #0091FF; !important;
}

.container-option-update .btn-delete-account {
    color: #fff;
    font-size: 15px;
    border-radius: 8px;
    background-color: #E02020;
    margin:  0 0 5px;
}

.btn-delete-account:hover {
    color: #fff;
}

.container-title-update {
    width: auto;
    margin: 0 auto;
}

.container-title-update h2 {
    font-family: "Roboto", regular;
    font-size: 25px;
    color: #111;
    font-weight: normal;
    text-align: left;
}

.container-file-btn {
    width: 100px;
    max-width: 110px;
    margin:  0 auto;
}

.verify__account {
    position: relative;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

.verify__account > h3 {
    font-size: 25px;
    color: #ff0000;
    font-family: "Roboto", regular;
}

.verify__account > h3 > a {
    font-size: 30px;
    font-family: "Roboto", regular;
    color: #ff0000;
    text-decoration: none;
    border-bottom: 2px solid rgba(1,1,1,0.7);
}

/*Media query*/
@media (max-width: 768px) {
    .container-message-footer h3 {
        text-align: center;
        font-size: 20px;
    }
    .col-title h2 {
        font-size: 25px;
    }
    .col-line {
        margin: 0 1%;
    }
    .container-option-account {
        width: 100%;
        max-width: 100% !important;
    }
    .col-01 {
        width: 100%;
    }
    .col-02 {
        width: 100%;
    }
    .col-01 .container-option-security-title h2 {
        font-size: 20px;
    }
    .col-02 .container-option-info-title h2 {
        font-size: 20px;
    }
}