.container-form-sign-up {
    width: 70%;
    max-width: var(--4-talents-width);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.container-form-sign-up label {
    font-weight: 300;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
}


.container-signup-btn {
    width: 145px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.signup-btn {
    width: 100%;
    font-family: "Roboto", "regular", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-weight: bold;
    background: #00DB9B;
    border: none;
}

.container-form-sign-up .container-signin-link {
    width: 94%;
    max-width: var(--4-talents-width);
    margin: 0 auto;
    text-align: center;
}

.container-signin-link a {
    font-size: 15px;
    font-family: "Roboto", "regular", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.container-signin-link span {
    font-weight: 300;
    color: #005cbf;
}

.container-form-sign-up input[type=text] {
    border: 1px solid rgba(1,1,1,0.5);
    font-family: "Roboto", "regular", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.container-form-sign-up input[type=password] {
    border: 1px solid rgba(1,1,1,0.5);
    font-family: "Roboto", "regular", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.signup-right-screen {
    background: #00DB9B;
}

.signup-right-screen .container-img-right-screen {
    position: absolute;
    width: fit-content;
    max-width: var(--4-talents-width);
    top: calc(var(--4-talents-top) / 3);
    left: 20%;
    margin: -25px 0 0 -25px;
}

@media (max-width: 768px) {

    .container-title {
        margin-top: calc(var(--4-talents-top) - 85%);
    }

    .container-form-sign-up {
        width: fit-content;
        margin-top: 3rem;
    }

    .signup-right-screen {
        display: none;
    }
}

@media (min-width: 768px) {

    .container-title {
        margin-top: calc(var(--4-talents-top) - 85%);
    }

    .container-form-sign-up {
        width: calc(var(--4-talents-width) - 5%);
        margin-top: calc(var(--4-talents-top) / 2);
    }

    .signup-right-screen {
        display: flex;
    }

    .signup-right-screen .container-img-right-screen {
        width: 80%;
        max-width: var(--4-talents-width);
    }
}

@media (min-width: 1000px) {

    .container-form-sign-up {
        width: calc(var(--4-talents-width) - 10%);
        margin-top: calc(var(--4-talents-top) / 4);
    }

    .signup-right-screen .container-img-right-screen {
        width: calc(var(--4-talents-width) - 30%);
        top: calc(var(--4-talents-top) / 5);
    }
}