.row {
    margin-left: inherit;
    margin-right: inherit;
}

.container-form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}

.container-form label {
    font-weight: 300;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
}

.container-form input[type=text] {
    border: 1px solid rgba(1,1,1,0.5);
}

.container-form input[type=password] {
    border: 1px solid rgba(1,1,1,0.5);
}

.container-sign-btn {
    width: 145px;
    margin: 0 auto;
}

.sign-btn {
    width: 100%;
    font-family: "Roboto", "regular", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-weight: bold;
    background: #00DB9B;
    border: none;
}

.container-recoverypass-link {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.container-recoverypass-link a {
    font-size: 17px;
    font-family: "Roboto", "regular", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 1px solid #111;
    color: #111;
}

.container-form .container-signup-link {
    width: 94%;
    max-width: var(--4-talents-width);
    margin: 0 auto;
    text-align: center;
}

.container-signup-link a {
    font-size: 15px;
    font-family: "Roboto", "regular", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.container-signup-link span {
    font-weight: 300;
    color: #005cbf;
}

.signin-right-screen {
    background: #00DB9B;
}

.signin-right-screen .container-img-right-screen {
    position: absolute;
    width: fit-content;
    max-width: var(--4-talents-width);
    top: calc(var(--4-talents-top) / 3);
    left: 20%;
    margin: -25px 0 0 -25px;
}

/* Setting media query */
/*@media (min-width: 768px) {*/
/*    */
/*}*/
/*@media (min-width: 320px) {*/
/*    .signin-right-screen {*/
/*        display: none;*/
/*    }*/
/*}*/


@media (max-width: 768px) {

    .container-form {
        width:fit-content;
        margin-top: 3rem;
    }

    .signin-right-screen {
        display: none;
    }
}

@media (min-width: 768px) {

    .container-title {
        width: auto;
    }

    .container-form {
        width: calc(var(--4-talents-width) - 10%);
        margin-top: calc(var(--4-talents-top) / 2);
    }

    .signin-right-screen {
        display: flex;
    }

    .signin-right-screen .container-img-right-screen {
        width: 80%;
        max-width: var(--4-talents-width);
    }
}

@media (min-width: 1000px) {

    .container-form {
        width: calc(var(--4-talents-width) - 35%);
        margin-top: calc(var(--4-talents-top) / 6);
    }

    .signin-right-screen .container-img-right-screen {
        width: calc(var(--4-talents-width) - 30%);
        top: calc(var(--4-talents-top) / 8);
    }
}


/*@media (min-width: 770px) and (max-width: 1550px) {*/
/*    .signin-right-screen .container-img-right-screen {*/
/*        top: 30%;*/
/*    }*/
/*}*/