.container-title {
    width: 300px;
    border: 2px solid black;
    margin:  0 auto;
    margin-top: 6rem;
}
.container-title h2 {
    font-family: "Roboto", "regular", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.container-form {
    margin-top: 5rem;
}

.row {
    height: 100vh;
}

.container-sign-btn {
    width: 145px;
    margin: 0 auto;
}

.sign-btn {
    width: 100%;
    font-family: "Roboto", "regular", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-weight: bold;
}