{% load static %}
<footer>
	<script src="{% static 'js/Confirm/ConfirmAccount.js' %}"></script>
	<script src="{% static 'js/Account/UpdateAccount.js' %}"></script>
	<script src="{% static 'js/Account/UpdatePass.js' %}"></script>
</footer>
