<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="container-logo">
                <a href="{% url 'Home' %}">4-Talents</a>
            </div>
            <div class="row mt-5">
                <div class="col-md-3 col-sm footer-settings">
                    <h2>4-Talents</h2>
                    <ul>
                        <li><a href="#">Como funciona?</a></li>
                        <li><a href="#">Empresas</a></li>
                        <li><a href="#">Buscar talentos</a></li>
                        <li><a href="#">Buscar empleos</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm footer-settings">
                    <h2>4-Talents / Lacayo & Asociados</h2>
                    <ul>
                        <li><a href=#>Nosotros</a></li>
                        <li><a href=#>Contacto</a></li>
                        <li><a href=#>Ayuda / Soporte</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm footer-settings">
                    <h2>4-Talents Social Media</h2>
                    <ul class="sociales">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7415.849153200188!2d-86.2881006425349!3d12.12102015671646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f7155c429da1ff5%3A0x17651becf4ef4b31!2sOfiplaza%20El%20Retiro!5e0!3m2!1sen!2sni!4v1606195291778!5m2!1sen!2sni" width="100%" height="100%%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>