{% load static %}
{% if request.user.is_authenticated %}
	<nav class="navbar navbar-expand-lg sticky-top nav_talents">
		<a href="{% url 'Home' %}">4-Talents</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarTalents" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
		</button>
		<div class="collapse navbar-collapse" id="NavbarTalents">
			<div class="navbar-nav ml-auto">
				<a href="{% url 'account:manage' %}" class="nav-link nav-item">Administrar Pérfil</a>
				<a href="#" class="nav-link nav-item">Ayuda</a>
				<a href="{% url 'account:sign_out' %}" class="nav-link nav-item">Cerrar Sesión</a>
			</div>
		</div>
	</nav>
    {% if request.path == '/create/create_prof/' %}
        {% else %}
        <div class="container">
            <div class="container-options">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="#">Para empresas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Para freelancers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Para contratar</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
	{% else %}
	<nav class="navbar navbar-expand-lg sticky-top nav_talents">
		<div class="container">
			<a href="{% url 'Home' %}">4-Talents</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarTalents" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="fas fa-bars"></i> </span>
			</button>
			<div class="collapse navbar-collapse" id="NavbarTalents">
				<div class="navbar-nav ml-auto">
					<a href="#" class="nav-link nav-item">Nosotros</a>
					<a href="#" class="nav-link nav-item">Ayuda</a>
					<a href="{% url 'account:sign_in' %}" class="nav-link nav-item">Iniciar Sesión</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="container-options">
			<ul class="nav">
				<li class="nav-item"><a class="nav-link" href="#">Para empresas</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Para freelancers</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Para contratar</a></li>
			</ul>
		</div>
	</div>
{% endif %}

