{% extends "base.html" %}
{% load static %}

{#define title#}
{% block title %}
	Sign Up
{% endblock title %}

{#Defining content#}
{% block content %}
	<div class="row signin-height">
		<div class="col-md-4 col">
			<div class="container-title">
				<h2>4-Talents</h2>
			</div>
			<div class="container-form-sign-up">
				<form method="POST">
					<div class="form-row col-sm-12">
						<div class="col">
							<label>Usuario</label>
							{{ forms.username }}
						</div>
						<div class="col">
							<label>Correo</label>
							{{ forms.email }}
						</div>
					</div>
					<div class="form-row col-sm-12">
						<div class="col">
							<label>Contraseña</label>
							{{ forms.password1 }}
						</div>
					</div>
					<div class="form-row col-sm-12">
						<div class="col">
							<label>Repetir Contraseña</label>
							{{ forms.password2 }}
						</div>
					</div>
					<div class="container-signup-btn">
						{% csrf_token %}
						<button type="button" id="sign_btn" class="btn btn-success signup-btn" onclick="SignUp()">Registrar</button>
					</div>
				</form>
				<hr/>

				<div class="container-signin-link">
                    <a href="{% url 'account:sign_in' %}">¿Ya estás resgistrado? <span>¡Inicia sesión ahora!</span></a></br>
                     <a href="{% url 'Home' %}">Volver a Inicio</a>
				</div>
			</div>
		</div>
		<div class="col-md-8 col signup-right-screen">
			<div class="container-img-right-screen">
				<img src="{% static 'img/sign_up-2.png' %}" class="img-fluid" alt="Sign Up">
			</div>
		</div>
	</div>
{% endblock content %}
