{% extends "base.html" %}
{% load static %}

{#Creating title#}
{% block title %}
	Sign In
{% endblock title %}

{#Creating Content#}
{% block content %}
		<div class="row signin-height">
			<div class="col-sm col-md-4">
				<div class="container-title">
					<h2>4-Talents</h2>
				</div>
				<div class="container-form">
					<form method="POST">
						<div class="form-row">
							<label>Usuario</label>
							{{ forms.username }}
						</div>
						<div class="form-row">
							<label>Contraseña</label>
							{{ forms.password }}
						</div>
						<div class="container-sign-btn mt-3">
							{% csrf_token %}
							<button type="button" class="btn btn-success sign-btn" id="signin-btn" onclick="SignIn()">Iniciar Sesión</button>
						</div>
					</form>

					<div class="container-recoverypass-link mt-5">
						<a href="#">¿Olvidaste tu contraseña?</a>
					</div>
					<hr/>

					<div class="container-signup-link">
						<a href="{% url 'account:sign_up' %}">¿Aún no estás registrado? <span>¡Hazlo ahora!</span></a><br/>
						<a href="{% url 'Home' %}">Volver a Inicio</a>
					</div>
				</div>
			</div>

			<div class="col-md-8  signin-right-screen">
				<div class="container-img-right-screen">
					<img src="{% static 'img/sign_in_2.png' %}" class="img-fluid" alt="Sign In">
				</div>
			</div>
		</div>
{% endblock content %}